body {
        
}
h1 {
    color: darkolivegreen;
    font-size: 70px;
}
.koo {

}
img {
    width: 100px;
    height: 100px;
}
.me1 {
    width: 200px;
    height: 200px;
}
video {
    width: 200px;
}